{# templates/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur notre site</h1>

    <!-- Ajout d'un bouton pour accéder aux véhicules -->
    <a href="{{ path('app_vehicule') }}" class="btn btn-primary">Voir les Véhicules</a>

    <!-- Autres contenus de la page d'accueil -->
{% endblock %}
