{# templates/membre/create.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Créer un Membre{% endblock %}

{% block body %}
<h1>Créer un Membre</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Créer</button>
{{ form_end(form) }}

<a href="{{ path('membre_list') }}">Retour à la liste</a>
{% endblock %}
